<!--header info-->
<!DOCTYPE html>
<html>
<head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
<title>Payslip Portal</title>
<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="stylesheets/main.css">
</head>
<body>
<!-- wrapper div -->
<div class="wrapper">
<h3>Payslip Portal</h3>

<!--form wrapper-->
<div class="form">
<div class="top-of-form">
<h4>Employee Info</h4>
</div>
 <% if (message.length > 0) { %>
        <div><b><%= message %></b></div>
        <br/>
    <% } %>
<div class="form">
<form id="my-form" action="/postEmployeeData" method="post">
<div class="field">
<label>First Name</label>
<span class="red-star">★</span>
<input type="text", name="first_name", id = "first_name" placeholder = "Firstname">
</div>
<div class="field">
<label>Last Name</label>
<span class="red-star">★</span>
<input type="text", name="last_name", id = "last_name" placeholder = "Lastname">
</div>
<div class="field">
<label>Annual Salary</label>
<span class="red-star">★</span>
<input type="text", name="annual_salary", id = "annual_salary" placeholder = "Annualsalary">
</div>
<div class="field">
<label>Super Rate</label>
<span class="red-star">★</span>
<input type="text", name="super_rate", id = "super_rate" placeholder = "Super Rate">
</div>
<div class="submit">
<input type="submit" value="Generate Payslip" />
</div>
</form>
</body>
</html>
