<!DOCTYPE html>
<html>

<body>
<h1>This is a custom project forked from https://devcenter.heroku.com/getting-started-with-nodejs in order to deploy an app to heroku</h1>
<p>
To use the app, post data to the app on this url: (http://localhost:5000/postEmployeeData)



The Employee Data needs to be in application/json format
The Data Should have the following fields

{
  "employee_data" : [
    { "first_name" : "David",
      "last_name" : "Rudd",
      "annual_salary" : 24000,
      "super_rate" : "15%",
      "payment_start_date" : "01 March – 31 March"
    },
    { "first_name" : "Chen",
      "last_name" : "Ryan",
     "annual_salary" : 300000,
      "super_rate" : "10%",
     "payment_start_date" : "01 March – 31 March"
    }
    ]
}
</p>
<p>
If any of the fields are missing, you'll get an error
If the annual salary is a negative number, you'll get an error
If the super rate is more is negative or more than 50%, you will get an error
</p>
</body>
</html>
